.titulo {
background-color: black;
border-radius: 50px;
color: green;
margin: 20px;
display: flex;
font-family: "courier-std", monospace;
font-style:normal;
font-size: 300%;
text-align: center;
flex-direction: column;
}