.logo {
    display: flex;
    height: 2em;
    padding: 0em;
  
}
.cartWidgetText {

    width: auto;
    border-radius: 15px;
    display: inline-flex;
    background-color:black;
    margin-top: -10px;
    margin-left: 20px;
    color: rgb(202, 202, 224);
    font-size: 1.5rem;
    
}