.navbaritem {
display: flex;
color: rgba(0, 255, 255, 0.521);
  font-family: "courier-std", monospace;
   font-style: normal;
   font-size: 160%;
   color: rgb(0, 0, 0);
   text-decoration: none;
}
.item {
    height: 5px;
    margin: 80px;
   text-decoration: none;
 
}