.itemCountButton {
   
    width: 10em;
    border-radius: 5em;
    background-color: blue;
    height: auto;
    display: inline-block;
    margin: 3%;
    display: inline-block;
    height: auto;
    font: 1.5em sans-serif;
    margin: 1%;
    border-radius: 15px;
    color: rgb(45, 246, 0);
    text-align: center;
   
    font-family: "courier-std", monospace;
    font-style: normal;
    }
  