
.itemList {
   

    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
    font-family: "courier-std", monospace;
    font-style: normal;
    font-size: 80%;
 
    text-decoration: none;
   
    }
.itemListCart {
     border-radius: 10px;
     display: inline-flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
       
     font-family: "courier-std", monospace;
     font-style: normal;
     font-size: 80%;
     
     text-decoration: none;
       
     }